.projects-item {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    background-color: none; 
    width: 55%; 
    min-width: 1000px;
    padding-bottom: 5vh;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: max-content max-content max-content;
    transition: box-shadow 0.3s ease;
}

.project-title {
    text-align: center;
    color:aliceblue;
    background-color: none; 
    box-sizing: border-box;
    width:100%;
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
}

.project-date {
    margin-left: auto;
    text-align: right;
    background-color: none; 
    box-sizing: border-box;
    font-size: larger;
    width:100%;
    font-style: italic;
    padding: 5px;
    padding-left: 0px;
}

.project-tag {
    padding: 10px;
    box-sizing: border-box;
    width:100%;
    margin-top: auto;
    margin-bottom: auto;
}

.single-tag {
    color:#010101;
    background-color: #caab78; 
    border-radius: 25px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: medium;
    display: inline-block;
    margin-left: 5px;
}

.project-icons {
    text-align: right;
    padding: 10px; 
    width:100%;
    box-sizing: border-box;
}

/* It's a link but don't show any colors */
.project-icons a {
    color: transparent;
}

.project-icon {
    width: 10%;
    height: 100%;
    margin-left: 15px;
}


.project-media {
    position: relative;
    background-color: #f2f2f2; 
    box-sizing: border-box;
    width:100%;
    overflow: hidden;
    min-height: 300px;
    border-radius: 25px;
    transition: box-shadow 0.3s ease;
}

.media-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.images {
    position: relative;
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 20rem;
    min-height: 100%;
}

.project-media:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.images img {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: block;
}

.images video {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: block;
}



.project-description {
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    max-height: 17rem;
    background-color: #3C3836;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 30px;
    width: 100%;
    font-size: larger;
    overflow: auto;
    transition: box-shadow 0.3s ease;
}

.project-description:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1050px) {
    .projects-item {
        width: 95%; 
        min-width: 0;
    }
}